<app-header titulo="Card"></app-header>


<ion-content padding>
    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon color="dark" slot="start" name="pin"></ion-icon>
            <ion-label>Marcado</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nobis nulla molestiae assumenda culpa, veniam omnis esse, itaque ipsam quam laudantium quia. Laudantium ipsa perferendis debitis. Quidem sunt dolorem unde.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, amet saepe quod sapiente dolore neque nostrum corrupti, ad quisquam iste mollitia obcaecati reiciendis inventore! Rem, similique deleniti. Unde, fugit eius?
        </ion-card-content>
    </ion-card>
</ion-content>